<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplifying Tasks</title>
</head>
<body>
<div id="table">

</div>    
</body>
</html>


<script>
    let array_data = []
document.getElementById("table").innerHTML = `
    <% for(let i=0; i<ans.length; i++) { %>
        ${array_data.push('<%= ans[0]%>')};
    <% } %>
`

console.log(array_data);
</script>