<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work Done @ eSparkBiz</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <div class="parent-container">
    <header>
      <section class="navbar">
        <div class="flex container">
          <div>
            <p class="logo">Tushar | 23DEV050<span class="dot">.</span></p>
          </div>
          <nav>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Landings &darr;</a></li>
              <li><a href="#">Pages &darr;</a></li>
              <li><a href="/update/<%= id %>">Profile</a></li>
              <li><a id="toggle" style="color: rgb(27, 27, 46)">Hey, <%= username %></a></li>
              <li><a href="/logout" class="blue-outline-btn">Logout</a></li>
            </ul>
          </nav>
        </div>
      </section>
    </header>


    <div class="cards-container">
      <div class="card" style="width: 18rem;">
        <a href="/home/tictactoe"><img class="card-img-top" src="assets/tictactoe.png" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">Tic Tac Toe</h5>
          <h6 class="">Created at: 27th Jan, 2023</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <a href="/home/colorcube"><img class="card-img-top" src="assets/cube.jpeg" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">KuKu Kube</h5>
          <h6 class="">Created at: 1st Feb, 2023</h6>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <a href="/home/typing"><img class="card-img-top" src="assets/typing.png" alt="Card image cap" style="height: 100%; aspect-ratio: 1/1;"></a>
        <div class="card-body">
          <h5 class="card-title">Typing Test</h5>
          <h6 class="">Created at: 13rd Feb, 2023</h6>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <a href="/home/job-app"><img class="card-img-top" src="assets/job-app.png" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">Job Application Project</h5>
          <h6 class="">Finished at: 22nd Feb, 2023</h6>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <a href="/home/grid-app"><img class="card-img-top" src="assets/grid.png" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">Grid App</h5>
          <h6 class="">Finished at: 12th Feb, 2023</h6>
        </div>
      </div>
    </div>

   
  </div>

    <footer class="footer">
      <div class="container">
        <div class="main-wrapper flex">
          <div class="flex">
            <h2>Tushar Rupani</h2>
            <p>Build a modern and creative website with crealand.</p>
            <div class="social-links">
              <a href=""><i class="bi bi-facebook mr-2"></i></a>
              <a href=""><i class="bi bi-instagram mr-2"></i></a>
              <a href=""><i class="bi bi-whatsapp mr-2"></i></a>
              <a href=""><i class="bi bi-linkedin mr-2"></i></a>
              <a href=""><i class="bi bi-twitter mr-2"></i></a>
            </div>
          </div>
          <div class="flex">
            <h6>Product</h6>
            <a href="">LandingPage</a>
            <a href="">Features</a>
            <a href="">Documentation</a>
            <a href="">Referral Program</a>
            <a href="">Pricing</a>

          </div>
          <div class="flex">
            <h6>Services</h6>
            <a href="">Documentation</a>
            <a href="">Design</a>
            <a href="">Theme</a>
            <a href="">Illustrations</a>
            <a href="">UI Kit</a>
          </div>
          <div class="flex">
            <h6>Company</h6>
            <a href="">About</a>
            <a href="">Terms</a>
            <a href="">Privacy Policy</a>
            <a href="">Careers</a>
          </div>
          <div class="flex">
            <h6>More</h6>
            <a href="">Documentation</a>
            <a href="">License</a>
            <a href="">Changelog</a>

          </div>

        </div>
      </div>
    </footer>
    <div class="company">
      <h5>Made with <i class="bi bi-heart-fill"></i> by Tushar Rupani | 23DEV050 </h5>
      <p>Copyright &copy; 2022 | eSparkBiz Technologies </p>
    </div>
  </div>


</body>




</html>